<!doctype html>
<html lang = "en">
<head>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="../static/TEST.css">
<link rel=stylesheet type=text/css href="../static/Menu.css">

<script>
function returnPage() {
  window.history.back();
}
</script>
<style>
h1, h2       { color: #ff751a; }

</style>
</head>
<body>
<div class="navbar" style = "background-color: #333;">
  <a href="/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Analytics 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Analytics Menu</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3 class = "menuSection" onClick = "window.location.href = '../analysis-season/playerSelection';">Data Selection</a></h3>
          <a href = "../analysis-season/teamBreakdown"> Team </a>
          <a href = "../analysis-home/playerSelection">Player Selection</a>
        </div>
        <div class="column">
          <h3 class = "menuSection">Analysis Selection</h3>
          <a href="../analysis-season">Seasonal Analysis</a>
          <a href="../analysis-game">per Game Analysis</a>
          <a href="../analysis-season/teamVisuals">Visual Analysis</a>
        </div>
        <div class="column">
          <h3 class = "menuSection">Reference Material</h3>
          <a href="../analysis-home">Analytics Explained</a>
          <a href="../analysis-home/metric_index">Performance Metric Index</a>
          <a href="#">External Resources</a>
        </div>
      </div>
    </div>
  </div> 
  <a href="../about">About</a>
  <a href="../analysis-home/metric_index">Performance Metric Index</a>

  </div>
  
<div style = "color: #ff751a; margin-top:-20px;">
<h4 style = "text-decoration: underline; cursor: pointer;" onclick ="returnPage()">&laquo; Back</h4>
</div>

<div class=page style = "overflow-x: auto;">    
  <h1>Player Stats: Chapman University (Home)</h1>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>
</body>
</html>